@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto+Mono:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}
/* the first page style */

div#content > div#main-page {
  height: 100vh;
  background: #E5DBDC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#content > div#main-page > #logo {
  width: 20%;
  height: auto;
  margin-bottom: 10px;
}


div#content > div#main-page > ul#buttonsUl{
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

div#content > div#main-page > ul#buttonsUl > button{
  padding: 10px 40px;
  border-radius: 10px;
  cursor: url('imgs/newspaper.svg'), auto;
  border: 2px solid #002424;
  color: #002424;
  background: #f9fffaad;

}

div#content > div#main-page > ul#buttonsUl > button:hover{
  margin: 0 10px;
  transition: 1s all ease;
  border: 2px solid #9CAC91;
  background: #9CAC91;
  color: #E5DBDC;
}






/* Login page  */
div#content > div#login-content{
  height: 100vh;
  background: #E5DBDC;
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto;
  grid-template-areas: "head form";
  gap: 30px;
}

div#content > div#login-content > div#head-area{
  grid-area: head;
  background: #fff5f621;
  filter: blur(1.4px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */

}
div#content > div#login-content > div#head-area:hover{
  grid-area: head;
  background: #0024244f;
  /* background: #fff5f67e; */
  filter: none;
  transition: 1s all ease;
  opacity: 1;
  /* border: 1px solid red; */

}

div#login-content > div#head-area > p#head-text{
  grid-area: head;
  /* border: 1px solid red; */
  font-weight: 400;
  font-size:  5rem;
  width: 400px;
  margin: -110px 0 0 30px;
  color: #fff5f6;
}

div#login-content > div#head-area > p#no-account{
  grid-area: head;
  color: #002424;
  margin: 30px 0 0 40px;
}
div#login-content > div#head-area > p#no-account > span{
  color: #002424;
  font-weight: 700;
  text-decoration: underline;
}
div#login-content > div#head-area > p#no-account > span:hover{
  color: #E5DBDC;
}

div#content > div#login-content > div#form-area{
  grid-area: form;
  /* border: 1px solid red; */

}

div#login-content > div#form-area > form{
  /* border: 1px solid red; */
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

div#login-content > div#form-area > form > p#errorMsg{
  color: #d72215;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

div#login-content > div#form-area > form >  p#errorMsg.error{
  transition: 1s all ease-in;
  visibility: visible;
}

div#login-content > div#form-area > form > input{
  padding:15px 60px;
  margin: 20px 0;
  color: #002424;
  background: #fff5f621;
  border: none;
  border-bottom: 2px solid #002424;
  font-size: 1.2rem;
}

div#login-content > div#form-area > form > input:focus{
  outline: #E5DBDC;
  border: 2px solid #002424;
  border-radius: 7px;
  transition: 0.8s all ease-in-out;
}

div#login-content > div#form-area > form > input.error{
  transition: 0.8s all ease-in-out;
  border-bottom: 2px solid #d72215;
}



div#login-content > div#form-area > form > button{
  padding: 10px 40px;
  border-radius: 10px;
  cursor: url('imgs/newspaper.svg'), auto;
  border: 2px solid #002424;
  color: #002424;
  background: #f9fffaad;
  
}
div#login-content > div#form-area > form > button:hover{
  margin: 20px;
  transition: 1s all ease;
  border: 2px solid #9CAC91;
  background: #9CAC91;
  color: #E5DBDC;
}






/* sign Up page */

div#content > div#signup-content{
  height: 100vh;
  background: #E5DBDC;
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: auto;
  grid-template-areas: "head form";
  gap: 30px;
}

div#content > div#signup-content > div#head-area{
  grid-area: head;
  background: #fff5f621;
  filter: blur(1.4px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */

}
div#content > div#signup-content > div#head-area:hover{
  grid-area: head;
  background: #00242464;
  /* background: #fff5f67e; */
  filter: none;
  transition: 1s all ease;
  opacity: 1;
  filter: none;
  /* border: 1px solid red; */

}


div#signup-content > div#head-area > p#head-text{
  grid-area: head;
  /* border: 1px solid red; */
  font-weight: 400;
  font-size:  4rem;
  width: 400px;
  margin: 0 0 0 30px;
  color: #fff5f6;
}

div#signup-content > div#head-area > p#account{
  grid-area: head;
  color: #002424;
  margin: 30px 0 0 40px;
}
div#signup-content> div#head-area > p#account > span{
  color: #002424;
  font-weight: 700;
  text-decoration: underline;
}
div#signup-content > div#head-area > p#account > span:hover{
  color: #E5DBDC;
}

div#content > div#signup-content> div#form-area{
  grid-area: form;
  /* border: 1px solid red; */

}

div#signup-content > div#form-area > form{
  /* border: 1px solid red; */
  height: 100vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

div#signup-content > div#form-area > form > input{
  padding:15px 60px;
  margin: 20px 0;
  color: #002424;
  background: #fff5f621;
  border: none;
  font-size: 1.2rem;
  border-bottom: 2px solid #002424;
}

div#signup-content > div#form-area > form > input:focus{
  outline: #E5DBDC;
  border-radius: 7px;
  border: 2px solid #002424;
  transition: 0.8s all ease-in-out;
}

div#signup-content > div#form-area > form > input.invalid{
  border-bottom: 2px solid #d72215;

}


div#signup-content > div#form-area > form > button{
  padding: 10px 40px;
  border-radius: 10px;
  cursor: url('imgs/newspaper.svg'), auto;
  border: 2px solid #002424;
  color: #002424;
  background: #f9fffaad;
  
}



div#signup-content > div#form-area > form > button:hover{
  margin: 20px;
  transition: 1s all ease;
  border: 2px solid #9CAC91;
  background: #9CAC91;
  color: #E5DBDC;
}

div#signup-content > div#form-area > form > p#successMsg{
  color: #002424;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

div#signup-content > div#form-area > form > p#successMsg.success{
  transition: 1s all ease-in;
  visibility: visible;
}

div#signup-content > div#form-area > form:valid > p#successMsg.success{
  transition: 1s all ease-in;
  visibility: visible;
}

div#signup-content > div#form-area > form > p#errorMsg{
  color: #d72215;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

div#signup-content > div#form-area > form:invalid >  p#errorMsg.error{
  transition: 1s all ease-in;
  visibility: visible;
}

div#signup-content > div#form-area > form > p#errorMsg.error{
  transition: 1s all ease-in;
  visibility: visible;
  color: #d72215;
}





/* Success Page */

div#content > div#success-page {
  height: 100vh;
  background: #E5DBDC;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#content > div#success-page > #welcome-img {
  width: 30%;
  height: auto;
  margin: 10px;
}

div#content > div#success-page >div#text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* border: 1px solid red; */
}

div#content > div#success-page > div#text-container  > p#welcome-text {
  margin: 10px;
  font-size: 2.5rem;

}

div#content > div#success-page > div#text-container >  p#guide-text {
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 300;
}

div#content >div#success-page > ul#buttonsUl{
  padding: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

div#content > div#success-page > ul#buttonsUl > button{
  padding: 10px 40px;
  border-radius: 10px;
  cursor: url('imgs/newspaper.svg'), auto;
  border: 2px solid #002424;

}

div#content > div#success-page > ul#buttonsUl > button:nth-child(1){
  color: #002424;
  background: none;

}

div#content > div#success-page > ul#buttonsUl > button:nth-child(2){
  color: #002424;
  background: #f9fffaad;
  cursor: not-allowed;

}

div#content > div#success-page > ul#buttonsUl > button:hover{
  margin: 0 10px;
  transition: 1s all ease;
  border: 2px solid #9CAC91;
  background: #9CAC91;
  color: #E5DBDC;
}
